body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(217, 173, 230);
}

.container{
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(181, 145, 202);
}

.container img{
    border-radius: 10px;
}
.bttn-container{
    display: flex;
    justify-content: center;
    gap: 20px; /* This replaces your margin-left and spaces them evenly */
}
.bttn{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: lightgreen;
    border: 2px solid green;
    cursor: pointer;
    box-shadow: 4px 4px 0px darkgreen;
}
.bttn:hover{
    background-color: green;
    transform: translate(2px, 2px); /* moves button slightly to create press effect */

}
#noBtn {
    position: relative;
}