body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(217, 173, 230);
}

.container{
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(181, 145, 202, 0.767);
    text-align: center;
    border: 2px solid rgb(151, 107, 180);
    box-shadow: 10px 10px 0px rgb(127, 69, 194);
}
.container img{
    border-radius: 10px;
}
.bttn-container{
    display: flex;
    justify-content: center;
    gap: 20px; /* This replaces your margin-left and spaces them evenly */
}
.bttn{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(144, 216, 238);
    border: 2px solid rgb(111, 177, 197);
    cursor: pointer;
    box-shadow: 4px 4px 0px rgb(58, 100, 112);
}
.bttn:hover{
    background-color: rgb(58, 100, 112);
    color: white;
    border: 2px solid rgb(42, 89, 100);
    transform: translate(2px, 2px); /* moves button slightly to create press effect */
}
#noBtn {
    position: relative;
}